/* Container Styling */
.addRecipe {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
}
.add-ingredient{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.ingredients-field {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
/* Heading Styling */
h1 {
    text-align: center;
    color: #150000;
    margin-bottom: 20px;
}

/* Form Styling */
.addRecipeForm{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-bottom: 100px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 20px;
}
.description-input{
        width: 100%;
        height: 150px;
        padding: 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        margin-bottom: 15px;
}
select,option {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    resize: vertical; /* Allows users to resize the textarea vertically */
    font-family: "Times New Roman", Times, serif;
    color: #666;
}
select:focus {
    border-color: #b3e8a3;
    outline: none;
    box-shadow: 0 0 4px rgb(179, 232, 163);
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    resize: vertical;
    min-height: 80px;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 20px;
}


textarea:focus {
    border-color: #b3e8a3;
    outline: none;
    box-shadow: 0 0 4px rgb(179, 232, 163);
}

input:focus {
    border-color: #b3e8a3;
    outline: none;
    box-shadow: 0 0 4px rgb(7, 87, 5);
}

/* Ingredient List Styling */
label {
    font-weight: bold;
    margin-bottom: 5px;
}


.ingredients-button{
    display: flex;
    flex-direction: row-reverse;
}
button[type="button"] {
    padding: 10px 20px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(179, 232, 163);
    color: #333;
    transition: background-color 0.3s, transform 0.2s;

}

button[type="button"]:hover {
    background-color: #b3e8a3;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(179, 232, 163);
    color: #333;
    transition: background-color 0.3s, transform 0.2s;
}

button[type="submit"]:hover {
    background-color: #047302;
}


