.details-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.details-content{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.details-header{
    display: flex
;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 30px;
}
.details-image {
    position: relative;

    height: 70vh;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.no-image {
    font-style: italic;
    color: gray;
}

.details-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.details-info {
    font-size: 1.2rem;
    margin: 10px 0;
}

.details-preparation{
    display: flex
;
    flex-direction: column;
    align-items: center;
    margin: 20px 50px;
}


.details-ingredients{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
}
.details-ingredients ul {
    list-style-type: none;
    padding: 0;
}

.details-ingredients li {
    font-size: 1rem;
}

.details-button-container {
    margin-top: 20px;
}

.details-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

.details-button:hover {
    background-color: #0056b3;
}

.details{
display: flex
;
gap: 10px;
align-items: center;
flex-direction: row;
}
.ingredient-row {
    display: flex;
    flex-direction: row;
    align-items: center; /* Aligns items vertically centered */
    gap: 10px; /* Adds space between the inputs */
}

.ingredient-row input {
    flex: 1; /* Ensures inputs take equal width */
    padding: 5px;
}

input[type="number"] {
    width: 80px; /* Optional: Set the width of the quantity input */
}
input[type="text"] {
    width: 80px; /* Optional: Set the width of the quantity input */
}
.ingredients_button{
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center; /* Aligns items vertically centered */
    gap: 10px; /* Adds space between the inputs */
}
.show-more-button{
    background-color: #075705;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    padding: 8px 50px;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}
button:hover {
    background-color: #feb47b; /* Lighter background on hover */
    color: black; /* Text color changes to black */
}

