/* Add this to your CSS file */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #b3e8a3; /* White background for a clean look */
    padding: 10px 20px; /* Add spacing around the navbar */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    position: sticky; /* Make it stick to the top */
    top: 0;
    z-index: 1000; /* Ensure it stays above other elements */
    width: 90%;
    height: 50px;
}

.login-button{
    background: none;
    border: none;
    font-size: 16px;
    font-family: serif;
}
.navbar-links {
    display: flex;
    gap: 20px; /* Even spacing between links */
}

.navbar a {
    text-decoration: none;
    font-family: serif;
    color: #333;
    font-size: 16px;
    font-weight: 550;
    transition: color 0.3s ease;
    padding: 10px;
    text-align: center;
}



.navbar a:active {
    color: #b3e8a3; /* Darker blue when clicked */
}
