/* General Reset */

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}


.wishList-title{
  display: flex;
  padding: 40px 20px;
  margin: 20px;
  align-items: center;
  row-gap: inherit;
  color: #00000099;
}
.home-title{

}
.home-description{
  position: relative;
  text-align: center;
}
.TextField{
  width: 200px;
}

.New-ingredient{
  width: 90000px;
}



